@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/nunito-sans');
@import url('https://fonts.cdnfonts.com/css/nunito');
    		/* Light Mode Button
		--------------------------- */ 

		.form-switch .form-check-input {
		    position: relative;
		}


		.form-switch .form-check-input span:nth-child(1) {
			position: absolute;
		}

		.form-switch .form-check-input span:nth-child(2) {
			position: absolute;
		}
   


body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--pw-neutro-1000);
  transition: background-color 0.3s;
}


footer {height: 100px; background-color: var(--pw-neutro200); padding: 2rem 0; margin-top: 3rem;}

.w-800 {
  max-width: 900px;
  min-width: 900px;
}


.bi {
  fill: #141516;
}

.navbar {
  padding: 0.9rem 0;
  background-color: #fff;
}

.navbar-logo {
  background-image: url(../img/empatia-color.svg);
  width: 200px;
  height: 56px;
  background-repeat: no-repeat;
  margin-left: 8%;
  margin-top: 8%;
}


/* Menu Lateral */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--pw-neutro100);
  z-index: 100;
  transition: all 0.5s ease;
  border-right: 1px solid var(--pw-neutro200);
}

body[light-mode="dark"] .sidebar{
  background: var(--pw-neutrod100);
  border-right: 1px solid var(--pw-neutrod200);
  }

.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details .picto{
  height: 80px;
  min-width: 78px;
  text-align: center;
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.sidebar.close .logo-details .picto{
  transition-delay: 0s;
  opacity: 1;
  pointer-events: none;
  display: block;
}

.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: var(--pw-neutro900);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: var(--pw-neutro100);
}

body[light-mode="dark"] .sidebar .nav-links li:hover{
  background: var(--pw-neutrod100);
  }

.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 64px;
  text-align: center;
  line-height: 50px;
  color: var(--pw-neutro900);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 48px;
}
.sidebar .nav-links li a .link_name{
  font-size: 16px;
  font-weight: 400;
  color: var(--pw-neutro900);
  transition: all 0.4s ease;
  margin-left: -16px;
}

body[light-mode="dark"] .sidebar .nav-links li a .link_name{
  color: var(--pw-neutro0);
  }

.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 18px;
  margin-top: -10px;
  background: var(--pw-neutro100);
  /* display: none; */
}
body[light-mode="dark"] .sidebar .nav-links li .sub-menu{
  background: var(--pw-neutrod100);
  }


.sidebar .nav-links li.showMenu .sub-menu{
  display: none;
}
.sidebar .nav-links li .sub-menu a{
  /* color: var(--pw-neutro900); */
  font-size: 15px;
  padding: 5px 8px;
  white-space: nowrap;
  transition: all 0.3s ease;
  height: auto;
}
.sidebar .nav-links li .sub-menu a{
  /* color: var(--pw-neutro900); */
  font-size: 15px;
  padding: 5px 8px;
  white-space: nowrap;
  transition: all 0.3s ease;
  height: auto;
}
body[light-mode="dark"] .sidebar .nav-links li .sub-menu a{
  color: var(--pw-neutro0);
  }

.sidebar .nav-links li .sub-menu a:hover{
  background: var(--pw-produto100);
  border-radius: 8px;
}

body[light-mode="dark"] .sidebar .nav-links li .sub-menu a:hover{
  background: var(--pw-produto100);
  }

.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  white-space: nowrap;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.14);
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 16px;
  opacity: 1;
  display: block;
  padding: 5px 8px;
font-weight: 600;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: var(--pw-neutro0);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}

.home-section{
  position: relative;
  background: var(--pw-neutro0);
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
body[light-mode="dark"] .home-section{
  background: var(--pw-neutrod0);
  }

.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: var(--pw-neutro900);
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 380px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}

.icon {
height: 16px;
min-width: 64px;
text-align: center;
line-height: 50px;
color: var(--pw-neutro0);
font-size: 20px;
cursor: pointer;
transition: all 0.3s ease;
}

.sidebar .home-content .toggle{
position: absolute;
top: 4%;
right: -15px;
transform: translateY(-50%) rotate(180deg);
height: 24px;
width: 24px;
background-color: var(--pw-produto800) !important;
color: var(--pw-neutro0);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
cursor: pointer;
transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
color: var(--text-color);
}

.sidebar.close .toggle{
transform: translateY(-50%) rotate(0deg);
}

i.bx.bxs-chevron-down.arrow {
color: var(--pw-produto800);
}




/* Hero */
.hero {
  background-color: var(--pw-neutro100);
  transition: background-color 0.2s;
}

.hero-img {
  background-image: url('../img/hero-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

.bd-layout{
  gap: 0.7rem;
}

/* Responsivo */
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
  max-width: 1520px;
  }
}


@media (max-width: 740px) {
#pesquisa-topo {
  display: none !important;
}

.hero-img {
  background-image: none;
}

}

@media (min-width: 992px) {
  .bd-sidebar {
    top: 1rem;
    width: 250px;
  }

  .bd-gutter {
    --bs-gutter-x: 5rem;
  }
}

/* Barra de Rolagem */
body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* height of horizontal scrollbar ← You're missing this */
  background-color: rgba(227, 227, 227, 0.5);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 0px solid #F0F0F0;
  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-track {
  background: #F0F0F0 ;
  /* color of the tracking area */
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #F9AEB0;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 4px solid #F0F0F0;
  /* creates padding around scroll thumb */
}

::-webkit-scrollbar-track {
  background: rgba(227, 227, 227, 0.0);
  /* color of the tracking area */
  border-radius: 20px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #F9AEB0;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 0px solid rgba(227, 227, 227, 0.0);
  ;
  /* creates padding around scroll thumb */
}

.selector-for-some-widget {
  box-sizing: content-box;
}



.cls-1 {
  fill: #ef8e2d;
}

.cls-2 {
  fill: #363534;
}

.btn-clipboard {
  transition: 0.1s;
  border-radius: 0.5rem;
}

.btn-clipboard:hover {
  background-color: #e6e6e6;
  transition: 0.1s;
  border-radius: 0.5rem;
}

/* Modo Claro */


.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: auto;
}



.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-right-width: 0px;
}

/* Tabela */
.table {
  font-size: 14px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.table {
  --bs-table-accent-bg: var(--pw-neutro100);
  --bs-table-accent-color: var(--pw-neutro900);
  --bs-table-bg: var(--pw-neutro0);
  --bs-table-color: var(--pw-neutro900); /*se for utilizado bootstraap alterar diretamente na variável base */
  --bs-table-hover-color: var(--pw-neutro900);
  --bs-table-striped-color: var(--pw-neutro900);
  --bs-table-striped-bg: var(--pw-neutro10-a);
  --bs-table-hover-bg: var(--pw-produto10-a);
  background-color: var(--pw-neutro0);
  border-color: var(--pw-neutro300); 
}

.table-responsive {
  overflow: auto;
}

.table-radius {
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  padding: 0;
  border-bottom: transparent;
}
 


.label-tcolor {
  display:flex; 
  border-radius:50px; 
  /* background-color:var(--pw-neutro800);  */
  width:fit-content;
}  

/*Modo Escuro */
body[light-mode="dark"] .hero {
  background-color: var(--pw-neutrod100);
  transition: background-color 0.3s;
}

body[light-mode="dark"] .navbar {
  color: var(--pw-neutrod100);
  background-color: #272D39;
  }
  
body[light-mode="dark"] .bi {
  fill: var(--pw-neutro0);
}

body[light-mode="dark"] .navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--pw-neutrod200);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

body[light-mode="dark"] .navbar-logo {
  background-image: url(../img/empatia-dm.svg);
  background-repeat: no-repeat;
}

body[light-mode="dark"] .offcanvas-lg {

  background-color: var(--pw-neutrod0);

}



body[light-mode="dark"] {
background-color: #272D39;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
background-color: #ced4e2;
color: #141516;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
left: 65px;
background-color: #272D39;
}


/* Tipografia */


/* Tabela */
body[light-mode="dark"] .table {
  --bs-table-accent-bg: var(--pw-neutrod800);
  --bs-table-accent-color: var(--pw-neutrod900);
  --bs-table-bg: var(--pw-neutrod0);
  --bs-table-color: var(--pw-neutrod900); /*se for utilizado bootstraap alterar diretamente na variável base */
  --bs-table-hover-color: var(--pw-neutro0);
  --bs-table-striped-color: var(--pw-neutro0);
  --bs-table-striped-bg: var(--pw-neutrod700);
  --bs-table-hover-bg: var(--pw-produto70-a);
  background-color: var(--pw-neutrod0);
  border-color: var(--pw-neutrod800);
  transition: background-color 0.3s;
}

body[light-mode="dark"] .table-radius {
  border-color: #4A5264;
  transition: background-color 0.3s;
}

 


/* body[light-mode="dark"] .label-tcolor {
  background-color: var(--pw-neutrod200); 
}   */

/* FIM */

/* Pesquisa */


.pesquisa-topo {
  margin: 0 20%;
}

form.p-geral.d-flex {
  width: 95%;
}

.pesquisa-interna {
  width: 100%;
}



.pesquisa-claro {
  fill: var(--pw-produto800);
}


.icon-sidebar {
  padding-right: 10px;
  width: 30px;
  color: #7A7A7A;
}

/*Exemplos Modo escuro */
.bg-escuro {
  background-color: #272D39;
  color: #fff;
}

.bg-escuro .form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FFF;
  background-color: #333B4C;
  border: 1px solid #4A5264;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out,
    background-color .15s, color .15s, box-shadow .15s, background-size .15s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.bg-escuro .highlight {
  color: #fff;
  background-color: #333B4C;
  border: 1px solid #4A5264;
}

.bg-escuro .highlight-toolbar {
  background-color: #333B4C;
  border: 1px solid #4A5264;
}

.bg-escuro .bd-example-snippet {
  border: 1px solid #4A5264;
}