@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.w-800 {
  max-width: 900px;
  min-width: 900px;
}

/* Hero */
.hero {
  background-color: rgb(254, 238, 231, 0.4);
}
.navbar-light {
  background-color: #fff;
}

.bd-layout{
  gap: 0.7rem;
}

/* Responsivo */
@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
 
}

@media (max-width: 740px) {
#pesquisa-topo {
  display: none !important;
}
}

@media (min-width: 992px) {
  .bd-sidebar {
    top: 1rem;
    width: 250px;
  }

  .bd-gutter {
    --bs-gutter-x: 5rem;
  }
}

/* Barra de Rolagem */
body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* height of horizontal scrollbar â† You're missing this */
  background-color: #DDC2EF;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 0px solid #E4E4E4;
  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-track {
  background: #E4E4E4;
  /* color of the tracking area */
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #DDC2EF;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 4px solid #E4E4E4;
  /* creates padding around scroll thumb */
}

::-webkit-scrollbar-track {
  background: #E4E4E4;
  /* color of the tracking area */
  border-radius: 20px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #DDC2EF;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 0px solid #E4E4E4;
  /* creates padding around scroll thumb */
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/* Tipografia */
.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}
/* Tipografia Fim*/

.cls-1 {
  fill: #ef8e2d;
}

.cls-2 {
  fill: #363534;
}

.btn-clipboard {
  transition: 0.1s;
}

.btn-clipboard:hover {
  background-color: rgb(193, 224, 249);
  transition: 0.1s;
  border-radius: 10px;
}

/* Modo Claro */
.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3B3D3D;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out,
    background-color .15s, color .15s, box-shadow .15s, background-size .15s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.form-control.invalid {
  color: #3B3D3D;
  background-color: #fff;
  border: 1px solid #F24E52;
  border-radius: 5px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out,
    background-color .15s, color .15s, box-shadow .15s, background-size .15s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: auto;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818385;
  text-align: center;
  white-space: nowrap;
  background-color: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 0.375rem;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-right-width: 0px;
}


/* Pesquisa */
.form-control.pesquisa-menu {
  border-radius: 50px;
  border: 1px solid #818385;
  padding: 0.375rem 0.75rem 0.5rem 2.75rem;
  width: 300px;
}
.pesquisa-topo {
  margin: 0 20%;
}

form.p-geral.d-flex {
  width: 95%;
}

.pesquisa-interna {
  width: 100%;
}

.btn.btn-pesquisa-menu {
  border: none;
  position: absolute;
  align-self: center;
}

.pesquisa-claro {
  fill: #FB6B2B;
}

.pesquisa-claro:hover {
  fill: #000;
}

.icon-sidebar {
  padding-right: 10px;
  width: 30px;
  color: #7A7A7A;
}

/* Modo escuro */
.bg-escuro {
  background-color: #272D39;
  color: #fff;
}

.bg-escuro .form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FFF;
  background-color: #333B4C;
  border: 1px solid #4A5264;
  border-radius: 5px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out,
    background-color .15s, color .15s, box-shadow .15s, background-size .15s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.bg-escuro .highlight {
  color: #fff;
  background-color: #333B4C;
  border: 1px solid #4A5264;
}

.bg-escuro .highlight-toolbar {
  background-color: #333B4C;
  border: 1px solid #4A5264;
}

.bg-escuro .bd-example-snippet {
  border: 1px solid #4A5264;
}